<html ng-app="AlanPazettoPortfolio">
<head>
	<title>Alan Pazetto - Web / Mobile Developer</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/layout.css">
</head>
<body>

<div class="banner" full-height>

	<div class="container">

		<div class="language-flags">
			<a href="javascript:void(0);" ng-click="changeLanguage('en-us');"><span class="flag-icon flag-icon-us"></span></a>
			<a href="javascript:void(0);" ng-click="changeLanguage('pt-br');"><span class="flag-icon flag-icon-br"></span></a>
		</div>

		<div class="nome-foto">
			<div class="foto"></div>
			Alan Pazetto
		</div>

		<h1>
			{{ _t.banner.firstLine }} <br>
			{{ _t.banner.secondLine }}<span class="blink-me">|</span>
		</h1>

		<div class="social-icons">
			<a title="E-mail" href="mailto:alancpazetto@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
			<a title="Facebook" href="http://facebook.com/alan.pazetto" target="_blank"><i class="fa fa-facebook"></i></a>
			<a title="LinkedIn" href="https://br.linkedin.com/pub/alan-pazetto/24/171/4ba" target="_blank"><i class="fa fa-linkedin"></i></a>
			<a title="Skype" href="skype:alancpazetto?chat" target="_blank"><i class="fa fa-skype"></i></a>
			<a title="GitHub" href="https://github.com/alancpazetto" target="_blank"><i class="fa fa-github"></i></a>
			<a title="{{ _t.banner.seeThisCode }}" target="_blank" href="https://github.com/alancpazetto/portfolio"><i class="fa fa-code"></i></a>
			<a title="{{ _t.banner.seeCV }}" target="_blank" href="{{ _t.general.cvLink }}"><i class="fa fa-user"></i></a>
		</div>

		<div class="scroll-alert">
			Scroll<br>
			<i class="fa fa-angle-down"></i>
		</div>

	</div>

</div>

<div class="skills" ng-controller="SkillController">

	<div class="container">
		
		<h1>{{ _t.skills.title }}</h1>

		<div class="skill-area">

			<h2>{{ _t.skills.webDevelopment }}</h2>

			<div class="skills-outer-containter">
				<h3>Front-end</h3>
				<skill-list skills="skillsWeb.frontEnd"></skill-list>
			</div>

			<div class="skills-outer-containter">
				<h3>Back-end</h3>
				<skill-list skills="skillsWeb.backEnd"></skill-list>
			</div>

		</div>

		<div class="skill-area">

			<h2>{{ _t.skills.mobileDevelopment }}</h2>

			<div class="skills-outer-containter">
				<h3>{{ _t.skills.native }}</h3>
				<skill-list skills="skillsMobile.native"></skill-list>
			</div>

			<div class="skills-outer-containter">
				<h3>{{ _t.skills.hybrid }}</h3>
				<skill-list skills="skillsMobile.hybrid"></skill-list>
			</div>

		</div>

		<div class="skill-area">

			<h2>{{ _t.skills.otherSkills }}</h2>

			<div class="skills-outer-containter">
				<!-- <h3>Native</h3> -->
				<skill-list skills="skillsOthers.partOne"></skill-list>
			</div>

			<div class="skills-outer-containter">
				<!-- <h3>Hybrid</h3> -->
				<skill-list skills="skillsOthers.partTwo"></skill-list>
			</div>

		</div>

	</div>

</div>

<div class="portfolio" ng-controller="PortfolioController">

	<div class="container">
		
		<h1>{{ _t.portfolio.title }}</h1>

		<div class="portfolio-container">

			<div class="portfolio-item" ng-class="{'open' : portfolioOpen[ $index ]}" ng-click="portfolioOpen[ $index ] = !portfolioOpen[ $index ]" ng-repeat="portfolio in portfolioItens[ _langCode ]" style="background-image: url('{{ portfolio.image }}');">
				
				<div class="portfolio-item-text" ng-click="">
					
					<h3>{{ portfolio.title }}</h3>

					<div class="details">
						
						<p>{{ portfolio.description }}</p>

					</div>

					<div class="links">
						<a ng-repeat="link in portfolio.links" target="_blank" href="{{ link.url }}"><i class="fa {{ link.icon }}"></i></a>
					</div>

				</div>

			</div>

		</div>

	</div>

</div>

<div class="contact">

	<div class="container">
		
		<h1>Contact</h1>

		<p><i class="fa fa-envelope"></i> <span class="title">E-mail:</span> <a title="E-mail" target="_blank" href="mailto:alancpazetto@gmail.com">alancpazetto@gmail.com</a></p>
		<p><i class="fa fa-facebook"></i> <span class="title">Facebook:</span> <a title="Facebook" target="_blank" href="http://facebook.com/alan.pazetto">facebook.com/alan.pazetto</a></p>
		<p><i class="fa fa-linkedin"></i> <span class="title">LinkedIn:</span> <a title="LinkedIn" target="_blank" href="https://br.linkedin.com/pub/alan-pazetto/24/171/4ba">Alan Pazetto</a></p>
		<p><i class="fa fa-skype"></i> <span class="title">Skype:</span> <a title="Skype" target="_blank" href="skype:alancpazetto?chat">alancpazetto</a></p>
		<p><i class="fa fa-github"></i> <span class="title">GitHub:</span> <a title="GitHub" target="_blank" href="https://github.com/alancpazetto">github.com/alancpazetto</a></p>
		<p><i class="fa fa-code"></i> <span class="title">{{ _t.contact.seeThisCode }}:</span> <a title="{{ _t.contact.seeThisCode }}" target="_blank" href="https://github.com/alancpazetto/portfolio">github.com/alancpazetto/portfolio</a></p>
		<p><i class="fa fa-user"></i> <a title="{{ _t.contact.seeCV }}" target="_blank" href="{{ _t.general.cvLink }}">{{ _t.contact.seeCV }}</a></p>

	</div>

</div>

<script type="text/javascript" src="lib/angularjs/angular.min.js"></script>

<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="js/directives.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63358117-2', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
